.react-datepicker {
  border: 1px solid #d9d9d9 !important;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.1);
}
.react-datepicker .react-datepicker__triangle {
  display: none;
}
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  border: 1px solid #d9d9d9 !important;
}

.react-datepicker__week .react-datepicker__day--selected {
  background-color: #439f8e !important;
  color: white !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #439f8e !important;
  color: white !important;
}

..react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #439f8e !important;
  color: white !important;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background-color: #439f8e !important;
  color: white !important;
}

.react-datepicker__navigation {
  top: 8px !important;
}
